body { 
	padding-top: 70px; 
}
*{
  border-radius: 0 !important;
}
.jumbotron{
	text-align: center;
	margin-top: 125px;
	background-color: rgba(10,10,10,.6);
	color: white;
}
.jumbotronText{
	font-family: "Oswald", sans-serif;
	color: white;
}
.jumbotronSubHeader{
	font-weight: 200;
}
.registerButton{
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	height: 50px;
	width: 100px;
	border: none;
	background-color: #ec3724;
	color: white;
}
.brand{
	display: inline-block;
}
.white{
	color: white;
}
.center{
	text-align: center;
}
.navbar-brand{
	color: white;
}
#twitterbootstrap .navbar .navbar-inverse .navbar-fixed-top{

}
#twitterbootstrap .navbar .nav,
#twitterbootstrap .navbar .nav > li
{
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}


#twitterbootstrap .navbar-inner {
    text-align:center;
    /*font-family: "", sans-serif;*/
    color: black;
    font-weight: 100;
}
.navbar .nav > li > a {
	color: white;
	font-size: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
.navbar .nav > li > a:hover{
	background-color: black;
}
@media screen and (max-width: 1000px) and (min-width: 695px){
	.navbar .nav > li > a {
	margin-left: 5px;
	margin-right: 5px;
	}
}
@media screen and (max-width: 695px){
	.navbar .nav > li > a {
	margin-left: -13px;
	margin-right: -13px;
	font-size: 18px;
	}
}
#bg{
	position: fixed;
	height:100%;
	width:100%;
	background-image: url("http://www.jumpmankicks.com/shoegallery/aj7/retro(2015)/hare_white_light_silver_true_red/air_jordan_vii(7)_retro_hare_white_light_silver_true_red-6.jpg"); 
	background-size: cover !important;
	background-position: center;
	margin-top: -70px;
	z-index: -1;
}
#bg2{
	position: fixed;
	height:100%;
	width:100%;
	margin-top: -70px;
	background: -moz-linear-gradient(-45deg, #ec3724 0%, #ff4e50 35%, #f9d423 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ec3724), color-stop(35%,#ff4e50), color-stop(100%,#f9d423)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ec3724 0%,#ff4e50 35%,#f9d423 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ec3724 0%,#ff4e50 35%,#f9d423 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, #ec3724 0%,#ff4e50 35%,#f9d423 100%); /* IE10+ */
	background: linear-gradient(135deg, #ec3724 0%,#ff4e50 35%,#f9d423 100%); /* W3C */
	z-index: -1;
}
#bg3{
	position: fixed;
	height:100%;
	width:100%;
	background-image: url("https://static.squarespace.com/universal/images-v6/wallpapers/guide-wallpaper.jpg"); 
	background-size: cover !important;
	background-position: center;
	margin-top: -70px;
	z-index: -1;
}
.red{
	color:#ec3724;
}
.registerWell{
	width: 50%;
	margin: auto;
	margin-top: 50px;
	background-image: none;
	border: 1px solid black;
	margin-bottom: 50px;
}
.logInWell{
	width: 50%;
	margin: auto;
	margin-top: 100px;
	background-image: none;
	border: 1px solid black;
	margin-bottom: 50px;

}
.logIn{
	width: 75%;
}
.logInGroup{
}
.right{
	float: right;
}
.left{
	float: left;
}
.tradeWell{
	width: 50%;
	margin: auto;
	font-family: "Oswald", sans-serif;
	font-size: 28px;
	margin-top: 80px;
	text-align: center;
	background: none;
	background-color: rgba(20,20,20,.8);
	color: white;
	border: none;
}
.postButton{
	font-family: "Oswald", sans-serif;
	font-weight: 700;
	height: 50px;
	width: 300px;
	border: none;
	background-color: #ec3724;
	color: white;
}
.formPost{
	font-size: 22px;
	width: 100%;
	margin: auto;
	margin-top: 30px;
}
.oswald{
	font-family: "Oswald", sans-serif;
}
.tradePostWell{
	width: 70%;
	margin: auto;
	margin-bottom: 110px;
	margin-top: 50px;
}
.location{
	width: 25%;
	display: inline-block;
}
.dropdowns{
	width: 100%;
}
.desc{
	height: 150px;
}
.small{
	font-size: 18px;
}
.postText{
	font-weight: 100;
	letter-spacing: 1px;
}
.postRow{
	margin: auto;
}
.postImg{
	max-width:100%;
	max-height:100%;
}
.postWell{
	width: 70%;
	margin: auto;
	margin-bottom: 50px;
}
.picWell{
	width:12%;
	height: 7s%;
	display: inline-block;
	margin-top: 10px;
}
@media screen and (max-width: 900px){
	.picWell{
		width:10%;
		height: 7s%;
		display: none;
	}
}
.secondaryImg{
	max-height: 100%;
	max-width: 100%;
}
.link{
	text-decoration: none;
	color: black;
}
.link:hover{
	color: #ec3724;
	text-decoration: none;
}
.registerSuccess{
	margin-top: -20px;
	font-weight: 100;
	font-family: "Oswald", sans-serif;
	font-size: 28px;
	color: black;
	text-align: center;
}
.error{
	font-family: "Oswald",sans-serif;
	margin-top: 100px;
	font-size: 100px;
	margin-bottom: 3000px;
}
.col-md-3{
	margin-top: -10px;
}
.buyWell:hover{
	color: #ec3724;
}
.table{
	font-size: 20px;
	font-weight: 100;
	border: 1px solid lightgrey;
}
th{
	font-family: "Oswald", sans-serif;
}
.facebook{
	height: 20px;
	width: 50px;
}
.email{
	color: white;
	margin-top: 7px;
	margin-bottom: 7px;
	margin-left: 10px;
	font-size: 18px;
}
.smallText{
	margin-top: 0px;
	height: 30px;
	width: 55px;
	font-size: 14px;
	margin-left: 10px;
}
table{
	margin-top: 30px;
}










